name: Build & Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      JAVA_VERSION: '21'
      ANDROID_API_LEVEL: 34
      ANDROID_BUILD_TOOLS_VERSION: 34.0.0

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up JDK
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}

      - name: Set up Android SDK
        uses: android-actions/setup-android@9fc6c4e9069bf8d3d10b2204b1fb8f6ef7065407 # v3

      - name: Build app
        run: ./gradlew assembleRelease

      - name: Sign APK
        id: sign_app
        uses: ilharp/sign-android-release@nightly
        with:
          releaseDir: app/build/outputs/apk/release
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          buildToolsVersion: ${{ env.ANDROID_BUILD_TOOLS_VERSION }}

      - name: Rename apks
        run: |
          mv app/build/outputs/apk/release/app-arm64-v8a-release-unsigned-signed.apk PinDownloader-${{ github.ref_name }}-arm64-v8a-release.apk
          mv app/build/outputs/apk/release/app-armeabi-v7a-release-unsigned-signed.apk PinDownloader-${{ github.ref_name }}-armeabi-v7a-release.apk
          mv app/build/outputs/apk/release/app-universal-release-unsigned-signed.apk PinDownloader-${{ github.ref_name }}-universal-release.apk
          mv app/build/outputs/apk/release/app-x86-release-unsigned-signed.apk PinDownloader-${{ github.ref_name }}-x86-release.apk
          mv app/build/outputs/apk/release/app-x86_64-release-unsigned-signed.apk PinDownloader-${{ github.ref_name }}-x86_64-release.apk

      - name: Create changelog
        id: changelog
        uses: requarks/changelog-action@6d71e098526ee17bae963f058d34cd763378337f # v1
        with:
          includeInvalidCommits: true
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          draft: true
          body: ${{ steps.changelog.outputs.changes }}
          files: |
            PinDownloader-${{ github.ref_name }}-arm64-v8a-release.apk
            PinDownloader-${{ github.ref_name }}-armeabi-v7a-release.apk
            PinDownloader-${{ github.ref_name }}-universal-release.apk
            PinDownloader-${{ github.ref_name }}-x86-release.apk
            PinDownloader-${{ github.ref_name }}-x86_64-release.apk
          fail_on_unmatched_files: true
          make_latest: true